* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 12px;
  font-family: "fooont", Arial, sans-serif;
  text-align: left;
  color: #000;
  background: #fff;
  background-size: cover;
  position: relative;
}
.index .main_wrapper {
  padding: 0;
}
header#header.fix_me {
  height: 80px;
  background: #fff;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
}
/*<!-- INDEX HEADER BEGINS -->*/
.index header#header {
  position: fixed;
}
header#header {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  animation-duration: 0.3s;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
header#header.fix_me > div {
  height: 80px;
}
header#header > div {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-content: stretch;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  animation-duration: 0.3s;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
header#header.fix_me .logo a {
  background-image: url(./img/logo_colored.svg);
  background-size: contain;
}
.logo a {
  display: inline-block;
  width: 154px;
  height: 53px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  animation-duration: 0.15s;
  transition: all 0.15s linear;
}
a {
  color: #0e80e5;
}
/*<!-- INDEX HEADER END-->*/
/*<!-- CURRENT NEWS BEGIN -->*/
.current_news {
  padding: 0px 0 90px;
  background: #f6f8fe;
}
.current_news > div {
  margin: 0 auto;
  padding: 0 0px;
}
.current_news h1 {
  padding: 0px 0 30px;
  margin: 0 0 20px;
  font-weight: bold;
  font-size: 32px;
  line-height: 1.29;
  letter-spacing: 0.01em;
  color: #2d3192;
  position: relative;
}
.current_news h1::before {
  content: "";
  display: block;
  width: 100%;
  height: 110px;
  margin: 0 0 20px;
  background-color: #0c0d26;
}
.current_news h1 span {
  display: block;
  max-width: 820px;
  margin: 0 auto;
  padding: 0 20px;
}
.current_news .text {
  max-width: 820px;
  margin: 0 auto;
  padding: 0 20px;
}
.current_news .main_image {
  padding: 0 0 60px;
}
.current_news .main_image img {
  display: block;
  width: 100%;
  border-radius: 4px;
}
.current_news .text p {
  padding: 0 0 40px;
  font-size: 18px;
  line-height: 1.56;
  color: #222;
}
.current_news .text p {
  padding: 0 0 40px;
  font-size: 18px;
  line-height: 1.56;
  color: #222;
}
.current_news .text {
  max-width: 820px;
  margin: 0 auto;
  padding: 0 20px;
}
/*<!-- CURRENT NEWS END -->*/
/* <!-- FOOTER BEGIN -->*/
footer#footer.compact {
  min-height: 1px;
  padding: 34px 0 34px;
  background-image: none;
}
footer#footer {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-content: stretch;
  -webkit-box-align: stretch;
  align-items: stretch;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
footer#footer.compact .footer_last {
  padding: 0 20px;
}
.footer_last {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-content: stretch;
  -webkit-box-align: stretch;
  align-items: stretch;
}
.jis {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-content: stretch;
  -webkit-box-align: center;
  align-items: center;
}
.jis p {
  padding: 0 10px 0 0;
  font-size: 12px;
  line-height: 2.67;
  color: #fff;
}
.jis a {
  display: inline-block;
  padding: 0 0 0 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.67;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.jis a::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(./img/jis_logo.svg) no-repeat 0 0;
  position: absolute;
  left: 0;
  top: calc(50% - 10px);
}
.copyright {
  width: calc(100% - 360px);
  font-size: 16px;
  line-height: 1.5;
  color: #999;
}
/* <!-- FOOTER END -->*/
